@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Serif', serif;
}

body {
    background-color: #EB233F;
}

.title {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto; 
    text-align: center;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 80px;
}

#quoteText {
    text-align: center;
    font-size: 4rem;
    padding: 0 3px;
}

button {
    font-size: 1.25rem;
    border: #000 solid 2px;
    padding: 20px 75px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.15s ease;
}
button:hover {
    background-color: #000;
    color: #EB233F;
}

.images {
    position: relative;
}

#kanye-img, #ye-bear-img {
    position: absolute;
    width: 290px;
}

#kanye-img {
    bottom: 0;
    left: 0;
    animation: float 7.5s ease-in-out infinite;
}

#ye-bear-img {
    bottom: 0;
    right: 0;
    animation: float 8s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
